<nav class="nav">
  <div class="nav-inner">
    <a href="/" class="nav-logo">Pizquierdo<span>.me</span></a>
    <div class="nav-links">
      <a href="/">Inicio</a>
      <a href="/proyectos">Proyectos</a>
      <a href="/blog">Blog</a>
      <a href="/cv">Mi CV</a>
      <a href="/contacto">Contacto</a>
    </div>
  </div>
</nav>
